<p>{{ correct }} correct!</p>
<div style="display: flex; flex-direction: row; flex-wrap: wrap">
  @for (current of currentOrder; track current; let ndx = $index) {
    <div style="display: flex; flex-direction: column" class="item">
      <span>{{ receivers[ndx] }}</span>
      <button
        style="padding: 8px"
        (click)="clickGift(ndx)"
        [ngClass]="{ selected: selected === ndx }"
      >
        <img
          ngSrc="/xmas-xchange/gift{{ current }}.png"
          width="120"
          height="120"
          alt="gift {{ ndx }}"
        />
      </button>
    </div>
  }
</div>
